
body {
    background-color: gray;
    font-family: Arial, sans-serif;
    margin: 0;
}


nav {
    background-color: rgb(155, 154, 154);
    display: flex;
    position: absolute;
    width: 100%;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    border: 3px solid rgb(65, 63, 63);
    margin: 0;
    padding: 0;
    top: 0;
}

nav a {
    border-radius: 100%;
    text-decoration: none;
    font-weight: 560;
    position: relative;
    color: rgb(46, 38, 38);
    top: 0;
    margin: 0;
    padding: 0;
}

nav a:hover {
    color: whitesmoke;
}


#o-nas {
    background-color: rgb(200, 200, 200);
    padding: 50px;
    text-align: center;
}

#o-nas h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#o-nas .opis {
    font-size: 20px;
    color: rgb(36, 36, 36);
    margin-bottom: 30px;
}

#o-nas .druzynka {
    margin-top: 40px;
    font-size: 30px;
    font-style: oblique;
}

#o-nas .czlonkowie {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

#o-nas .ja {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    text-align: center;
}

#o-nas .ja img {
    width: 100%;
    height: auto;
}

#o-nas .ja p {
    font-size: 20px;
    color: rgb(80, 80, 80);
}

footer {
    background-color: rgb(83, 83, 83);
    color: rgb(180, 180, 180);
    text-align: center;
    padding: 1px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    border-top: 4px solid rgb(65, 63, 63);
}


@media screen and (max-width: 768px) {
    #o-nas .czlonkowie {
        flex-direction: column;
        align-items: center;
    }

    #o-nas .ja {
        width: 80%;
        margin-bottom: 20px;
    }
}
